@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 3px solid #000;
  padding: 5px 50px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 30px;
}

#nav-links {
  font-size: 22px;
}

main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#show-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  min-width: 25%;
  margin-bottom: 20px;
}

.img {
  min-width: 80%;
  height: 350px;
  border-radius: 20px;
}

.title {
  font-size: 25px;
}

.likes {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  gap: 10px;
}

.like-icon {
  cursor: pointer;
  transition: 0.5s;
}

.like-icon:hover {
  transform: scale(1.2);
}

.like-icon:active {
  transform: scale(1);
}

button {
  background: #fff;
  outline: none;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.popup_container {
  position: relative;
  top: 40px;
  left: 10px;
  padding: 1rem;
  background: white;
  max-width: 60vw;
  max-height: 95vh;
  margin: 0 auto;
  z-index: 3;
}

.popup_container::-webkit-scrollbar {
  display: none;
}

.close_icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.popup_img {
  display: inline-block;
  max-width: 70%;
  margin: 0 auto;
  border-radius: 20px;
}

.popup_container h2 {
  margin-bottom: 0.6rem;
}

.popup_container h4 {
  margin: 0.4rem 0;
  font-style: italic;
}

footer {
  display: flex;
  align-items: center;
  border-top: 3px solid #000;
  padding: 5px 50px;
  font-size: 22px;
}

.visible {
  display: block;
}
